.app-containers{
  margin: 0px auto;
  max-width: 1280px;
  width:100%;
  background: hsl(77, 30%, 95%);
  height: 100vh;
  

}
.zen-header{
  height: 80px;
  width:100%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  background: #cc0ac2;
}
.brand-logo{
  height: 80px;
  
}
.zen-contect-area-container{
  height:calc(100vh-80px);
  width: 100%;
  background: rgb(22, 5, 172);
  display: flex;
  
  
}
.zen-sidebar > sidebar-header-branding{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.zen-sidebar{
  width:20%;
  height:calc(100vh-80px);
  background-color:#f4f8fa;
} 

.zen-sidebar-nav>ul{
  margin: 0px;
  list-style-type: none;
  padding: 0px;

}
.zen-sidebar-nav > ul >li{
  height: 100%;
  width:100%;
  background: rgb(176, 176, 241);
  padding: 10px;
  cursor: pointer;
}
.zen-sidebar-nav > ul >li:hover{
  background: rgba(148, 5, 219, 0.623);
  color: aqua;
  font-weight: 600;
}

.zen-contect-area{
  width: 100%;
  height:100vh;
  background-color: darkgoldenrod;
}
.zen-sub-journey-container > a {
  color: #bbcee7;
  text-decoration: none;
  
}
.zen-sub-journey-container :hover{
color: gold;
text-decoration: underline;
}
.zen-sub-journey-container{
  min-width: 250px;
  display: flex;
  justify-content: space-around;
}